body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(to right,#667eea,#764ba2);
  justify-content: center;
}

.container{
  text-align:center;
  padding:40px;
}

form{
  margin-bottom:30px;
}

input{
  padding:8px;
  margin:5px;
  border-radius:5px;
  border:1px solid #ccc;
}

button{
  padding:8px 15px;
  background:#667eea;
  border:none;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

.cards{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
}

.card{
  background:white;
  padding:20px;
  width:200px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
  overflow-wrap:break-word;
}